body.tulip-theme {
  background-color: #fdf9fb;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: var(--bs-font-sans-serif, 'Helvetica Neue', sans-serif);
  color: var(--bs-body-color);
}

.card {
  background-color: #ffffffcc; /* Slight transparency */
  border: none;
  border-radius: 1rem;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.leaflet-map-maxwidth {
  width: 100%;
  max-width: 1000px;
}

.leaflet-container {
  width: 100% !important;
  height: auto;
  aspect-ratio: 16 / 9;
  display: block;
  border-radius: 1rem;
  margin: 0 auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}

h1, h5 {
  font-family: 'Playfair Display', serif;
}

